* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gridContainer {
    display: flex;
    justify-content: center;
    background-color: #5995DA;
    padding: 20px 0;
    flex-wrap: wrap;
}

.cell {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    height: 20px;
    width: 20px;
    background-color: #F9FAFB;
    flex: initial;
}
